# PostgreSQL
POSTGRES_DB=microbank
POSTGRES_USER=microbank
POSTGRES_PASSWORD=microbank123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django secrets
DJANGO_SECRET_KEY=supersecretkey
DEBUG=True

# Frontend
NEXT_PUBLIC_CLIENT_API=http://client-service:8000
NEXT_PUBLIC_BANKING_API=http://banking-service:8001
