# Client service
CLIENT_SERVICE_PORT=8000
CLIENT_SERVICE_HOST=client-service

# Banking service
BANKING_SERVICE_PORT=8001
BANKING_SERVICE_HOST=banking-service

# Next.js frontend
NEXT_PUBLIC_API_BASE=http://client-service:8000

# Django secret keys
DJANGO_SECRET_KEY=your-secret-key
DEBUG=1

DEFAULT_ADMIN_EMAIL=admin@microbank.com
DEFAULT_ADMIN_PASSWORD=admin123
POSTGRES_DB=microbank
POSTGRES_USER=microbank
POSTGRES_PASSWORD=microbank123
POSTGRES_HOST=db
POSTGRES_PORT=5432
