DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=changeme-client
DB_HOST=client-db
DB_PORT=5432
DB_NAME=client_db
DB_USER=client_user
DB_PASSWORD=client_pass

JWT_SECRET=supersecret-shared-jwt
JWT_ALGORITHM=HS256

RABBITMQ_URL=amqp://microbank:microbank@rabbitmq:5672/
BLACKLIST_EXCHANGE=blacklist_events

INTERNAL_TOKEN=internal-secret-token
CREATE_DEMO_ADMIN=1
DEMO_ADMIN_EMAIL=admin@example.com
DEMO_ADMIN_PASSWORD=adminpass
