DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=changeme-banking
DB_HOST=banking-db
DB_PORT=5432
DB_NAME=banking_db
DB_USER=banking_user
DB_PASSWORD=banking_pass

JWT_SECRET=supersecret-shared-jwt
JWT_ALGORITHM=HS256

RABBITMQ_URL=amqp://microbank:microbank@rabbitmq:5672/
BLACKLIST_EXCHANGE=blacklist_events

INTERNAL_TOKEN=internal-secret-token
CLIENT_SERVICE_URL=http://client-service:8000/api/internal/blacklist-dump/
